# application-dev.yml
app:
  default-role: user
db:
  username: dev_user
  password: dev_pass

spring:
  application:
    name: AlertOps

  datasource:
    url: jdbc:postgresql://localhost:5432/alert_ops
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update # don't auto-update the schema
    #show-sql: true
    open-in-view: false
    properties:
      hibernate.format_sql: true
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: YOUR_GOOGLE_CLIENT_ID
            client-secret: YOUR_GOOGLE_CLIENT_SECRET
            scope: profile, email
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: YOUR_EMAIL@gmail.com
    password: YOUR_APP_PASSWORD
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080